body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bg-image-header {
    background-image: url('./assets/Cafe-Header11.jpg');
    background-attachment: fixed;
    padding: 70px;
}

.cafename {
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    color: cornsilk;
}

.nav {
    background-color: rgba(214, 148, 86, 0.2);
    margin-bottom: 15px;
}

.nav-link {
    color: black;
}

.nav-item a:hover {
    background-color: black;
    color: cornsilk;
    border-radius: 0.5rem;
}

.nav-item .nav-link.active,
.card-header,
.card-footer button {
    background-color: black;
    color: cornsilk;
    border-radius: 0.5rem;
}

/* for xs vertical stacking of cards */
.card {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.card-body {
    padding: 0px;
}

.card-body img {
    width: 100%;
    height: 250px;
}
figure.card-body {
    margin-bottom: 0;
}

.hrstyle {
    height: 10px;
    box-shadow: inset 0 9px 9px -20px rgba(214, 148, 86, 0.2);
    margin-top: 0px;
    margin-bottom: 0px;
}

.section-title {
    border-radius: 5px;
    background-color: rgba(214, 148, 86, 0.2);
    box-shadow: 0 9px 10px rgba(214, 148, 86, 0.2);
}

h6 {
    margin-bottom: 0;
}

.btn-custom {
    border-style: hidden;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 20px;
    color: cornsilk;
    background-color: black;
}

footer {
    margin-top: 20px;
    padding: 40px;
    background-color: rgba(214, 148, 86, 0.5);
}
.badge,
.btn-dark,
.custom-row {
    color: cornsilk;
    background-color: black;
}
